/GuiaJava/nbproject/private/
/GuiaJava/build/
/Otro proyecto/nbproject/private/
/POOEj01/nbproject/private/
/Geometria/nbproject/private/
/POOEj01/build/
/Geometria/build/
/Calculadora/nbproject/private/
/Calculadora/build/
/ClaseUtilidad/nbproject/private/
/ClaseUtilidad/build/
/Colecciones/nbproject/private/
/Colecciones/build/
/Relaciones/nbproject/private/
/Relaciones/build/
/Cine/nbproject/private/
/Cine/build/